{% load static %}
   <!-- footer -->
    <div class="container-fluid footercapsayici pb-5">
        <div class="container">
         <div class="row pt-5">
          <div class="col-xl-2 col-lg-3 col-md-5 sira11">
            <h2>E-SHOPPER</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do eiusmod tempor</p>
          </div>
    
          <div class="col-xl-3 col-md-7  sira13">
            <img src="{% static 'img/map.png' %}" height="150" alt="resim">
          </div>
    
    
           <div class="col-xl-7 col-md-12 sira12">
            <div class="row">
              <div class="col-xl-3 col-md-3 col-sm-6 col-6 mb-4 sira12">
                <a href="#">
                  <img src="{% static 'img/iframe1.png' %}" width="150" alt="resim">
                </a>
                <p>Circle of Hands</p>
                <p>24 DEC 2014</p>
              </div>
              <div class="col-xl-3 col-md-3 col-sm-6 col-6 mb-4 sira12">
                <a href="#">
                  <img src="{% static 'img/iframe2.png' %}" width="150" alt="resim">
                </a>
                <p>Circle of Hands</p>
                <p>24 DEC 2014</p>
              </div>
              <div class="col-xl-3 col-md-3 col-sm-6 col-6 mb-4 sira12">
                <a href="#">
                  <img src="{% static 'img/iframe3.png' %}" width="150" alt="resim">
                </a>
                <p>Circle of Hands</p>
                <p>24 DEC 2014</p>
              </div>
              <div class="col-xl-3 col-md-3 col-sm-6 col-6 mb-4 sira12">
                <a href="#">
                  <img src="{% static 'img/iframe4.png' %}" width="150" alt="resim">
                </a>
                <p>Circle of Hands</p>
                <p>24 DEC 2014</p>
              </div>
            </div>
          </div>
    
         
         </div>
        </div>
    
        <div class="container mt-3">
         <div class="row footerliste">
              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                <h5>SERVICE</h5>
                <ul>
                  <li><a href="#">Online Help</a></li>
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">Order Status</a></li>
                  <li><a href="#">Change Location</a></li>
                  <li><a href="#">FAQ’s</a></li>
                </ul>
              </div>
              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                <h5>QUOCK SHOP</h5>
                <ul>
                  <li><a href="#">T-Shirt</a></li>
                  <li><a href="#">Mens</a></li>
                  <li><a href="#">Womens</a></li>
                  <li><a href="#">Gift Cards</a></li>
                  <li><a href="#">Shoes</a></li>
                </ul>
              </div>
              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                <h5>POLICIES</h5>
                <ul>
                  <li><a href="#">Terms of Use</a></li>
                  <li><a href="#">Privecy Policy</a></li>
                  <li><a href="#">Refund Policy</a></li>
                  <li><a href="#">Billing System</a></li>
                  <li><a href="#">Ticket System</a></li>
                </ul>
              </div>
              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                <h5>ABOUT SHOPPER</h5>
                <ul>
                  <li><a href="#">Company Information</a></li>
                  <li><a href="#">Careers</a></li>
                  <li><a href="#">Store Location</a></li>
                  <li><a href="#">Affillate Program</a></li>
                  <li><a href="#">Copyright</a></li>
                </ul>
              </div>
              <div class="col-xl-3 col-lg-12 col-md-6 m-0 ms-auto formparagraf">
                <h5>ABOUT SHOPPER</h5>
                <form class="forms">
                  <input type="text" placeholder="Your email adress">
                  <button type="submit">
                    <i class="fa-solid fa-share-from-square"></i>
                  </button>
                </form>
                <p>
                  Get the most recent updates from
                  our site and be updated your self...
                </p>
              </div>
            </div>
           </div>
        </div>
    
        <!-- footer son -->
        <div class="container-fluid footerson p-0">
          <div class="container">
            <div class="row">
              <div class="col-lg-9 col-md-8">
                <h5>Copyright © 2013 E-SHOPPER Inc. All rights reserved.</h5>
               </div>
               <div class="col-lg-3 col-md-4 d-flex justify-content-end pe-5 ">
                <div class="designed d-flex">
                    <p>Designed by</p>
                <a href="#"><i>Themeum</i></a>
                </div>
               </div>
            </div>
          </div>
        </div>
        